.notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--gray-contrast);
  border-radius: var(--radius-3);
  height: -webkit-fill-available;
  overflow-y: scroll;

  .header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--gray-contrast);
    z-index: 9;
    gap: var(--space-2);
    padding: var(--space-3);
  }

  .notes-editor {
    outline: none;
    padding: var(--space-3);
  }
}
